worker_processes 1;
pid @@NGINX_PID_PATH@@;
error_log @@NGINX_ERROR_LOG@@ warn;

events {
  worker_connections 512;
}

http {
  include @@NGINX_MIME_TYPES@@;
  default_type application/octet-stream;
  server_tokens off;

@@CONTENT_TYPE_MAP@@

  client_body_temp_path @@NGINX_CLIENT_TEMP@@;
  proxy_temp_path @@NGINX_PROXY_TEMP@@;

  map $uri $privacy_route {
    default $uri;
    "~^/[A-Za-z0-9_-]{1,64}$" "/:shortKey";
  }

  log_format gateway_privacy '$time_iso8601 $request_method $privacy_route $status';
  access_log @@NGINX_ACCESS_LOG@@ gateway_privacy;
  limit_req_zone $binary_remote_addr zone=subweb_api:10m rate=60r/m;
  limit_req_zone $binary_remote_addr zone=subweb_short:10m rate=20r/m;
  limit_req_status 429;

  map $http_origin $short_origin_allowed {
    default 0;
    "http://127.0.0.1:@@APP_PORT@@" 1;
  }

  map $http_origin $short_allowed_origin {
    default "";
    "http://127.0.0.1:@@APP_PORT@@" "http://127.0.0.1:@@APP_PORT@@";
  }

  server {
    listen 127.0.0.1:@@APP_PORT@@;
    server_name 127.0.0.1;

@@SECURITY_HEADERS@@
@@APP_ROUTES@@
  }

  server {
    listen 127.0.0.1:@@API_PORT@@;
    server_name 127.0.0.1;

@@SECURITY_HEADERS@@
 @@API_ROUTES@@
  }

  server {
    listen 127.0.0.1:@@SHORT_PORT@@;
    server_name 127.0.0.1;

@@SHORT_ROUTES@@
  }
}
